@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;color: inherit;}
img{vertical-align: text-bottom;min-width: 100%;}
button{cursor: pointer;}
body{background: #369;color: #333;}

header{height: 100px;background: #036;}
header .inner{position: relative;width: 1200px;margin: auto;background: #036;height: 100%;padding-top: 30px;}
nav{position: absolute;top: 59;right: 0;z-index: 10;}
nav>ul{display: flex;}
nav>ul>li>a{display: block;width: 150px;text-align: center;padding: 10px;color: #fff;}
nav>ul>li:hover{background: #f4d01f;color: #036;}
.sub{display: none;}
.sub a{display: block;text-align: center;padding: 10px 0;font-size: 14px;color: #fff;}
.sub a:hover{background: #036;color: #fff;}
.menuBg{width: 100%;height: 155px;background: rgba(0, 0, 0, 0.8);position: absolute;top: 100px;left: 0;z-index: 5;display: none;}


.slide{height: 300px;width: 1200px;margin: auto;background: #40b0f9;position: relative;}
.slide ul li{width: 1200px;height: 300px;position: absolute;top: 0;left: 0;display: none;}
.slide ul li a{display: block;height: 100%;}
.slide ul li.s1{background: url(../images/s1.jpg) no-repeat center/cover;display: block;}
.slide ul li.s2{background: url(../images/s2.jpg) no-repeat center/cover;}
.slide ul li.s3{background: url(../images/s3.jpg) no-repeat center/cover;}
.slide ul li h2{color: #036;text-shadow: 0 5px 0 #fff;font-size: 35px;position: absolute;top: 50%;left: 30px;transform: translateY(-50%);}


.contents{width: 1200px;height: 200px;margin: auto;background: #ff884d;display: flex;}
.contents article{width: 400px;}
.contents .banner{background: #2cc;}
footer{height: 120px;background: #666;}
footer .inner{width: 1200px;margin: auto;background: #fc6;height: 100%;}